.blog{
    border: 2px solid;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: olivedrab;
}
.blog-title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
